# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
*.env
!.env.example

# Node
node_modules/

# Database
*.db
*.sqlite3

# Zip files
*.zip

# Uploads
uploads/

# Logs
*.log

# OS
.DS_Store
Thumbs.db