fastapi==0.115.12
uvicorn[standard]==0.34.3
sqlalchemy==2.0.41
pg8000>=1.31.2
pydantic==2.11.7
pydantic-settings==2.10.1
alembic==1.16.4
PyJWT==2.10.1
bcrypt==4.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
python-dotenv==1.1.1